<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical" data-boxed-layout="boxed" data-card="shadow">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="../assets/img/logo1.png">

        <!-- Core Css -->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>IGBM | Dashboard</title>
        <!-- Owl Carousel  -->
        <link rel="stylesheet" href="../assets/libs/caroussel/owl.carousel.min.css">
    </head>

    <body data-sidebartype="full">
        <!-- Preloader -->
        <div class="preloader" style="display: none;">
            <img src="../assets/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid">
        </div>

        <div id="main-wrapper" data-np-autofill-form-type="login" data-np-watching="1">
            <!-- Sidebar Start -->
            
            <%- include("templates/partials/sidebar",  { req }) %>

            <div class="body-wrapper">
                <div class="container-fluid">
                    <div class="owl-carousel counter-carousel owl-theme owl-loaded owl-drag">        
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1182px, 0px, 0px); transition: all 0s ease 0s; width: 3783px;">
                                <div class="owl-item" style="width: 206.4px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="card border-0 zoom-in bg-warning-subtle shadow-none">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <img src="../assets/images/svgs/icon-briefcase.svg" width="50" height="50" class="mb-3" alt="">
                                                    <p class="fw-semibold fs-3 text-warning mb-1">Clients</p>
                                                    <h5 class="fw-semibold text-warning mb-0">3,650</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 206.4px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="card border-0 zoom-in bg-info-subtle shadow-none">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <img src="../assets/images/svgs/icon-mailbox.svg" width="50" height="50" class="mb-3" alt="">
                                                    <p class="fw-semibold fs-3 text-info mb-1">Projects</p>
                                                    <h5 class="fw-semibold text-info mb-0">356</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 206.4px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="card border-0 zoom-in bg-danger-subtle shadow-none">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <img src="../assets/images/svgs/icon-favorites.svg" width="50" height="50" class="mb-3" alt="">
                                                    <p class="fw-semibold fs-3 text-danger mb-1">Events</p>
                                                    <h5 class="fw-semibold text-danger mb-0">696</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 206.4px; margin-right: 30px;"><div class="item">
                                    <div class="card border-0 zoom-in bg-primary-subtle shadow-none">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img src="../assets/images/svgs/icon-user-male.svg" width="50" height="50" class="mb-3" alt="">
                                                <p class="fw-semibold fs-3 text-primary mb-1">Employees</p>
                                                <h5 class="fw-semibold text-primary mb-0">96</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev">
                            <span aria-label="Previous">‹</span>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <span aria-label="Next">›</span>
                        </button>
                    </div>
                    <div class="owl-dots">
                        <button role="button" class="owl-dot active">
                            <span></span>
                        </button>
                        <button role="button" class="owl-dot">
                            <span></span>
                        </button>
                    </div>
                </div>
                <!-- Revenue -->

                <!--  Row 1 -->
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Revenue Updates</h5>
                                        <p class="card-subtitle mb-0">Overview of Profit</p>
                                    </div>
                                    <select class="form-select w-auto" data-np-intersection-state="visible">
                                        <option value="1">March 2023</option>
                                        <option value="2">April 2023</option>
                                        <option value="3">May 2023</option>
                                        <option value="4">June 2023</option>
                                    </select>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div id="chart" style="min-height: 335px;"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="hstack mb-4 pb-1">
                                            <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-grid-dots text-primary fs-6"></i>
                                            </div>
                                            <div>
                                                <h4 class="mb-0 fs-7 fw-semibold">$63,489.50</h4>
                                                <p class="fs-3 mb-0">Total Earnings</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex align-items-baseline mb-4">
                                                <span class="round-8 text-bg-primary rounded-circle me-6"></span>
                                                <div>
                                                    <p class="fs-3 mb-1">Earnings this month</p>
                                                    <h6 class="fs-5 fw-semibold mb-0">$48,820</h6>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-baseline mb-4 pb-1">
                                                <span class="round-8 text-bg-secondary rounded-circle me-6"></span>
                                                <div>
                                                    <p class="fs-3 mb-1">Expense this month</p>
                                                    <h6 class="fs-5 fw-semibold mb-0">$26,498</h6>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary w-100">
                                                    View Full Report
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Yearly breakup -->
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <!-- Yearly Breakup -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <h5 class="card-title mb-9 fw-semibold">Yearly Breakup</h5>
                                                <h4 class="fw-semibold mb-3">$36,358</h4>
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="me-1 rounded-circle bg-success-subtle round-20 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-arrow-up-left text-success"></i>
                                                    </span>

                                                    <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                                                    <p class="fs-3 mb-0">last year</p>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <div class="me-4">
                                                        <span class="round-8 text-bg-primary rounded-circle me-2 d-inline-block"></span>
                                                        <span class="fs-2">2023</span>
                                                    </div>
                                                    <div>
                                                        <span class="round-8 bg-primary-subtle rounded-circle me-2 d-inline-block"></span>
                                                        <span class="fs-2">2023</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="d-flex justify-content-center">
                                                    <div id="breakup" style="min-height: 128.7px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <!-- Monthly Earnings -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-start">
                                            <div class="col-8">
                                                <h5 class="card-title mb-9 fw-semibold">
                                                    Monthly Earnings
                                                </h5>
                                                <h4 class="fw-semibold mb-3">$6,820</h4>
                                                <div class="d-flex align-items-center pb-1">
                                                    <span class="me-2 rounded-circle bg-danger-subtle round-20 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-arrow-down-right text-danger"></i>
                                                    </span>
                                                    
                                                    <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                                                    <p class="fs-3 mb-0">last year</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="d-flex justify-content-end">
                                                    <div class="text-white text-bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-currency-dollar fs-6"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="earning" style="min-height: 60px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Row 2 -->
                <div class="row">
                    <!-- Employee Salary -->
                    <div class="col-lg-4 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title fw-semibold mb-1">
                                        Employee Salary
                                    </h5>
                                    <p class="card-subtitle mb-0">Every month</p>
                                    <div id="salary" class="mb-7 pb-8" style="min-height: 275px;"></div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-primary-subtle rounded me-8 p-8 d-flex align-items-center justify-content-center">
                                                    <i class="ti ti-grid-dots text-primary fs-6"></i>
                                                </div>
                                                <div>
                                                    <p class="fs-3 mb-0 fw-normal">Salary</p>
                                                    <h6 class="fw-semibold text-dark fs-4 mb-0">
                                                        $36,358
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="text-bg-light rounded me-8 p-8 d-flex align-items-center justify-content-center">
                                                    <i class="ti ti-grid-dots text-muted fs-6"></i>
                                                </div>
                                            <div>
                                            <p class="fs-3 mb-0 fw-normal">Profit</p>
                                            <h6 class="fw-semibold text-dark fs-4 mb-0">
                                                $5,296
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project -->
                <div class="col-lg-4">
                    <div class="row">
                        <!-- Customers -->
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body pb-0 mb-xxl-4 pb-1">
                                    <p class="mb-1 fs-3">Customers</p>
                                    <h4 class="fw-semibold fs-7">36,358</h4>
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="me-2 rounded-circle bg-danger-subtle round-20 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-arrow-down-right text-danger"></i>
                                        </span>
                                        <p class="text-dark fs-3 mb-0">+9%</p>
                                    </div>
                                </div>
                                <div id="customers" style="min-height: 60px;"></div>
                            </div>
                        </div>
                        <!-- Projects -->
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="mb-1 fs-3">Projects</p>
                                    <h4 class="fw-semibold fs-7">78,298</h4>
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="me-1 rounded-circle bg-success-subtle round-20 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-arrow-up-left text-success"></i>
                                        </span>
                                        <p class="text-dark fs-3 mb-0">+9%</p>
                                    </div>
                                    <div id="projects" style="min-height: 60px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comming Soon -->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-7 pb-2">
                                <div class="me-3 pe-1">
                                    <img src="../assets/images/profile/user-1.jpg" class="shadow-warning rounded-2" alt="" width="72" height="72">
                                </div>
                                <div>
                                    <h5 class="fw-semibold fs-5 mb-2">
                                        Super awesome, Vue coming soon!
                                    </h5>
                                    <p class="fs-3 mb-0">22 March, 2023</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <ul class="hstack mb-0">
                                    <li class="ms-n8">
                                        <a href="javascript:void(0)" class="me-1">
                                            <img src="../assets/images/profile/user-2.jpg" class="rounded-circle border border-2 border-white" width="44" height="44" alt="">
                                        </a>
                                    </li>
                                    <li class="ms-n8">
                                        <a href="javascript:void(0)" class="me-1">
                                            <img src="../assets/images/profile/user-3.jpg" class="rounded-circle border border-2 border-white" width="44" height="44" alt="">
                                        </a>
                                    </li>
                                    <li class="ms-n8">
                                        <a href="javascript:void(0)" class="me-1">
                                            <img src="../assets/images/profile/user-4.jpg" class="rounded-circle border border-2 border-white" width="44" height="44" alt="">
                                        </a>
                                    </li>
                                    <li class="ms-n8">
                                        <a href="javascript:void(0)" class="me-1">
                                            <img src="../assets/images/profile/user-5.jpg" class="rounded-circle border border-2 border-white" width="44" height="44" alt="">
                                        </a>
                                    </li>
                                </ul>
                                <a href="#" class="text-bg-light rounded py-1 px-8 d-flex align-items-center text-decoration-none">
                                    <i class="ti ti-message-2 fs-6 text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Selling Products -->
                <div class="col-lg-4 d-flex align-items-strech">
                    <div class="card text-bg-primary border-0 w-100">
                        <div class="card-body pb-0">
                            <h5 class="fw-semibold mb-1 text-white card-title">
                                Best Selling Products
                            </h5>
                            <p class="fs-3 mb-3 text-white">Overview 2023</p>
                            <div class="text-center mt-3">
                                <img src="../assets/images/backgrounds/piggy.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="card mx-2 mb-2 mt-n2">
                            <div class="card-body">
                                <div class="mb-7 pb-1">
                                    <div class="d-flex justify-content-between align-items-center mb-6">
                                        <div>
                                            <h6 class="mb-1 fs-4 fw-semibold">MaterialPro</h6>
                                            <p class="fs-3 mb-0">$23,568</p>
                                        </div>
                                        <div>
                                            <span class="badge bg-primary-subtle text-primary fw-semibold fs-3">55%</span>
                                        </div>
                                    </div>
                                    <div class="progress bg-primary-subtle" style="height: 4px">
                                        <div class="progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between align-items-center mb-6">
                                        <div>
                                            <h6 class="mb-1 fs-4 fw-semibold">Flexy Admin</h6>
                                            <p class="fs-3 mb-0">$23,568</p>
                                        </div>
                                        <div>
                                            <span class="badge bg-secondary-subtle text-secondary fw-bold fs-3">20%</span>
                                        </div>
                                    </div>
                                    <div class="progress bg-secondary-subtle" style="height: 4px">
                                        <div class="progress-bar text-bg-secondary w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  Row 3 -->
            <div class="row">
                <!-- Weekly Stats -->
                <div class="col-lg-4 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold">Weekly Stats</h5>
                            <p class="card-subtitle mb-0">Average sales</p>
                            
                            <div id="stats" class="my-4" style="min-height: 180px;"></div>
                                <div class="position-relative">
                                    <div class="d-flex align-items-center justify-content-between mb-7">
                                        <div class="d-flex">
                                            <div class="p-6 bg-primary-subtle rounded me-6 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-grid-dots text-primary fs-6"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-4 fw-semibold">Top Sales</h6>
                                                <p class="fs-3 mb-0">Johnathan Doe</p>
                                            </div>
                                        </div>
                                        <div class="bg-primary-subtle badge">
                                            <p class="fs-3 text-primary fw-semibold mb-0">+68</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-7">
                                        <div class="d-flex">
                                            <div class="p-6 bg-success-subtle rounded me-6 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-grid-dots text-success fs-6"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-4 fw-semibold">Best Seller</h6>
                                                <p class="fs-3 mb-0">MaterialPro Admin</p>
                                            </div>
                                        </div>
                                        <div class="bg-success-subtle badge">
                                            <p class="fs-3 text-success fw-semibold mb-0">+68</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <div class="p-6 bg-danger-subtle rounded me-6 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-grid-dots text-danger fs-6"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-4 fw-semibold">Most Commented</h6>
                                                <p class="fs-3 mb-0">Ample Admin</p>
                                            </div>
                                        </div>
                                        <div class="bg-danger-subtle badge">
                                            <p class="fs-3 text-danger fw-semibold mb-0">+68</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Top Performers -->
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-7">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Top Performers</h5>
                                        <p class="card-subtitle mb-0">Best Employees</p>
                                    </div>
                                    <div>
                                        <select class="form-select" data-np-intersection-state="visible">
                                        <option value="1">March 2023</option>
                                        <option value="2">April 2023</option>
                                        <option value="3">May 2023</option>
                                        <option value="4">June 2023</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-middle text-nowrap mb-0">
                                        <thead>
                                            <tr class="text-muted fw-semibold">
                                                <th scope="col" class="ps-0">Assigned</th>
                                                <th scope="col">Project</th>
                                                <th scope="col">Priority</th>
                                                <th scope="col">Budget</th>
                                            </tr>
                                        </thead>
                                        <tbody class="border-top">
                                            <tr>
                                                <td class="ps-0">
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2 pe-1">
                                                            <img src="../assets/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt="">
                                                        </div>
                                                        <div>
                                                            <h6 class="fw-semibold mb-1">Sunil Joshi</h6>
                                                            <p class="fs-2 mb-0 text-muted">
                                                                Web Designer
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="mb-0 fs-3">Elite Admin</p>
                                                </td>
                                                <td>
                                                    <span class="badge fw-semibold py-1 w-85 bg-primary-subtle text-primary">Low</span>
                                                </td>
                                                <td>
                                                    <p class="fs-3 text-dark mb-0">$3.9K</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function handleColorTheme(e) {
                $("html").attr("data-color-theme", e);
                $(e).prop("checked", !0);
            }
        </script>
        <%- include("templates/partials/settings") %>
    </div>
</div>
      </div>

    <div class="offcanvas offcanvas-end shopping-cart" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header py-4">
            <h5 class="offcanvas-title fs-5 fw-semibold" id="offcanvasRightLabel">Shopping Cart</h5>
            <span class="badge bg-primary rounded-4 px-3 py-1 lh-sm">5 new</span>
        </div>
        <div class="offcanvas-body h-100 px-4 pt-0" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px -24px -16px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden;">
                        <div class="simplebar-content" style="padding: 0px 24px 16px;">
                            <ul class="mb-0">
                                <li class="pb-7">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/images/products/product-1.jpg" width="95" height="75" class="rounded-1 me-9 flex-shrink-0" alt="">
                                        <div>
                                            <h6 class="mb-1">Supreme toys cooker</h6>
                                            <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                                            <div class="d-flex align-items-center justify-content-between mt-2">
                                                <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                                                <div class="input-group input-group-sm w-50">
                                                    <button class="btn border-0 round-20 minus p-0 bg-success-subtle text-success" type="button" id="add1">
                                                        -
                                                    </button>
                                                    <input type="text" class="form-control round-20 bg-transparent text-muted fs-2 border-0 text-center qty" placeholder="" aria-label="Example text with button addon" aria-describedby="add1" value="1" data-np-intersection-state="observed">
                                                    <button class="btn text-success bg-success-subtle p-0 round-20 border-0 add" type="button" id="addo2">
                                                        +
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="pb-7">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/images/products/product-2.jpg" width="95" height="75" class="rounded-1 me-9 flex-shrink-0" alt="">
                                        <div>
                                            <h6 class="mb-1">Supreme toys cooker</h6>
                                            <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                                            <div class="d-flex align-items-center justify-content-between mt-2">
                                                <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                                                <div class="input-group input-group-sm w-50">
                                                    <button class="btn border-0 round-20 minus p-0 bg-success-subtle text-success" type="button" id="add2">
                                                        -
                                                    </button>
                                                    <input type="text" class="form-control round-20 bg-transparent text-muted fs-2 border-0 text-center qty" placeholder="" aria-label="Example text with button addon" aria-describedby="add2" value="1" data-np-intersection-state="observed">
                                                    <button class="btn text-success bg-success-subtle p-0 round-20 border-0 add" type="button" id="addon34">
                                                        +
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="pb-7">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/images/products/product-3.jpg" width="95" height="75" class="rounded-1 me-9 flex-shrink-0" alt="">
                                        <div>
                                            <h6 class="mb-1">Supreme toys cooker</h6>
                                            <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                                            <div class="d-flex align-items-center justify-content-between mt-2">
                                                <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                                                <div class="input-group input-group-sm w-50">
                                                    <button class="btn border-0 round-20 minus p-0 bg-success-subtle text-success" type="button" id="add3">
                                                        -
                                                    </button>
                                                    <input type="text" class="form-control round-20 bg-transparent text-muted fs-2 border-0 text-center qty" placeholder="" aria-label="Example text with button addon" aria-describedby="add3" value="1" data-np-intersection-state="observed">
                                                    <button class="btn text-success bg-success-subtle p-0 round-20 border-0 add" type="button" id="addon3">
                                                        +
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="align-bottom">
                                <div class="d-flex align-items-center pb-7">
                                    <span class="text-dark fs-3">Sub Total</span>
                                    <div class="ms-auto">
                                        <span class="text-dark fw-semibold fs-3">$2530</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center pb-7">
                                    <span class="text-dark fs-3">Total</span>
                                    <div class="ms-auto">
                                        <span class="text-dark fw-semibold fs-3">$6830</span>
                                    </div>
                                </div>
                                <a href="../main/eco-checkout.html" class="btn btn-outline-primary w-100">Go to shopping cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: 330px; height: 470px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
        </div>
    </div>
</div>

    </div>
    <div class="dark-transparent sidebartoggler"></div>
    <!-- Import Js Files -->

    <%- include("templates/required/js", { req }) %>
  

<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M-1 222.5L-1 222.5C-1 222.5 102.66666666666667 222.5 102.66666666666667 222.5C102.66666666666667 222.5 205.33333333333334 222.5 205.33333333333334 222.5C205.33333333333334 222.5 308 222.5 308 222.5C308 222.5 308 222.5 308 222.5C308 222.5 308 222.5 308 222.5 "></path></svg></body></html>